<template name="Questions">
	<div class="template-dashboard">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					{{> addQuestion}}
					{{> favoritesSidebar}}
				</div>
				<div class="col-md-9">
					{{> questions}}
				</div>
			</div>
		</div>
	</div>
</template>

    <template name="addQuestion">
        <div class="template-add-post">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{_ "add_question"}}</h3>
                    </div>
                    <div class="panel-body">
                        {{#autoForm id="add" collection="Questions" type="insert"}}
                        {{> afQuickField name="text"}}
                        {{> afQuickField name="classification"}}
                        {{> afQuickField name="code"}}
                        {{> afQuickField name="description"}}
                        {{> afQuickField name="dataType"}}
                                            <button type="submit" class="btn btn-primary">{{_ "add_question_btn"}}</button>
                        {{/autoForm}}

                    </div>
            </div>
        </div>
    </template>

<template name="questions">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="margin:10px">
                Search Box
            <span style="float: right">
                <input type="text" name="Search">
                <button type="submit" class="btn btn-primary" style="margin-top: -5px">Search</button>
            </span>
            </h3>
        </div>
    </div>
	<div class="template-posts">
		{{#each  questions}}
		{{> question}}
		{{else}}
		{{> noDataQuestions}}
		{{/each}}
	</div>
</template>

<template name="question">
      <div class="template-post">
    <h1>QUESTION</h1>
        <b>{{text}}</b>
        {{classification}}<br/>
        {{code}}<br />
      </div>
</template>
